*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('images/calmbackdrop.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    text-align: center;
}

.container {
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    width: 100%;
    color: #fff;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    position: relative;
}

.container .sidebar {
    display: flex;
    flex-direction: column;
    float: left;
    width: 300px;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 30px;
    margin-right: 20px;
}

.container .sidebar .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: #333;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
}
.container .sidebar .btn:hover {
    background: #e9e7e7;
}

.bookedTimes {
    width: 100%;
    height: 60%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: #fff;
    border-radius: 10px;
    padding: 15px 15px;
    margin-top: 30px;
    text-align: center;
}

.container .main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width : 85%;
    color: #fff;
    border-radius: 10px;
    padding-right: 10px;
}

.container .main .graphContainer {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 30px;
    margin: 10px 5px;
    position: relative;
}

.container .main .graphContainer > div > div{
    margin-left: 60px;
    margin-right: 60px;
}

.bookingContainer {
    float: left;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 20px;
    margin-right: 20px;
    position: relative;
}
.dateSelector {
    width: 20%;
    background: transparent;
    border:none;
    text-align: center;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: #4385ff;
    border-radius: 10px;
}
.booked {
    display: flex;
    flex-direction: column;
    float: right;
    width: 450px;
    height: 100%;
    background: transparent;
    color: #fff;
    border-radius: 10px;
}

.booked .tiers {
    height: 33%;
    width: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: #ffffff;
    border-radius: 10px;
    padding: 30px 30px;
    margin: 10px 5px;
}

.booked .tiers:hover {
    height: 33%;
    width: 100%;
    background:#8888ff;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: #ffffff;
    border-radius: 10px;
    padding: 30px 30px;
    margin: 10px 5px;
}

.booked a:hover {
    height: 33%;
    width: 100%;
    background: #8888ff;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 30px;
    margin: 10px 5px;
}

.booking {
    display: flex;
    flex-direction: column;
    float: right;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: #fff;
    border-radius: 10px;
    padding: 15px 15px;
    margin-right: 20px;
}

.history {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 20px;
    margin-right: 20px;
    position: relative;
    overflow: auto;
}

.history .content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.history .content .first {
    float: left;
    position: relative;
    margin-right: auto;
}

.history .content .middle {
    float: middle;
    position: relative;
    margin-left: auto;
}

.history .content .last {
    float: right;
    position: relative;
    margin-left: auto;
}
.wrapper h1 { 
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color:#fff;
    padding: 20px 45px 20px 20px;
    
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: #333;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color:#fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a :hover {
    text-decoration: underline;
}