{% extends "dashboard.html" %}
{% block content %}
<form id = "bookingForm" style="height:100%" method="POST" action="">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <div class="bookingContainer">
        {{ form.hidden_tag() }}
        <div class="booking">
            <h1 style="color: #0084ff">
                Please arrive within 10 minutes of your booking time or your time slot will be given up.
            </h1>
            {{ form.datum(class="dateSelector") }}
            <select name="duration" id="duration" class="dateSelector" style = "background-color: transparent;">
                <option value = "0.5">
                    0h30m
                </option>
                <option value = "1">
                    1h00m
                </option>
                <option value = "1.5">
                    1h30m
                </option>
                <option value = "2">
                    2h00m
                </option>
                <option value = "2.5">
                    2h30m
                </option>
                <option value = "3">
                    3h00m
                </option>
                <option value = "3.5">
                    3h30m
                </option>
                <option value = "4">
                    4h00m
                </option>
                <option value = "4.5">
                    4h30m
                </option>
                <option value = "5">
                    5h00m
                </option>
                <option value = "5.5">
                    5h30m
                </option>
                <option value = "6">
                    6h00m
                </option>
            </select>
        </div>
        <div class="booked">
            <h1 style="text-align:center;">
                Charging levels
            </h1>
                {{ form.submit3(class="tiers", placeholder="Tier 3", style="font-size: 30px;") }}
                {{ form.submit2(class="tiers", placeholder="Tier 2", style="font-size: 30px;") }}
                {{ form.submit1(class="tiers", placeholder="Tier 1", style="font-size: 30px;") }}
        </div>
    </div>
</form>
{% endblock content %}