{% extends "loginLayout.html" %}
{% block content %}
    <div class = "wrapper">
        <form method="POST" action="">
            {{ form.hidden_tag() }}

            <h1>Login</h1>

            <div class="input-box">
                {{ form.username(placeholder="Username") }}
            <i class="bx bxs-user"></i>
            </div>

            <div class="input-box">
                {{ form.password(type="password", placeholder="Password") }}
                <i class="bx bxs-lock-alt" ></i>
            </div>

            <div class="remember-forgot"> 
                <label><input type="checkbox"> Remember me</label>
            </div>

            {{ form.submit(class="btn", placeholder="Login")}}

            <div class="register-link">
                <p>Don't have an account? <a href="{{ url_for('registerPage') }}" style="text-decoration:underline"> Register</a></p>
            </div>

            {{ endform }}
            
        </form>
    </div>
{% endblock content%}